body {
  max-width: 100%;
  margin: 0%;
  background-color: whitesmoke;
}

.header-container {
  display: flex;
  flex-flow: wrap;
  /* border: 2px solid red; */
  width: 100%;
  height: 20vh;
  justify-content: space-between;
  padding: 0%;
  background-color: #78a41f66;
}

.image-container img {
  width: 50%;
  height: 18vh;
}

.navigation {
  /* border: 2px solid red; */
  width: 20%;
  height: 10vh;
  margin-top: 2%;
}
.items {
  display: inline;
  margin-right: 5%;
}
.items a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

#root {
  height: 30vh;
  width: 100%;
  /* border: 2px solid red; */
  margin-top: 20vh;
  /* background-color: violet; */
}

#watch-display {
  font-size: 20vh;
  color: black;
  text-align: center;
}

.buttons {
  text-align: center;
}

#startstop {
  width: 10%;
  padding: 0.5%;
  align-content: center;
  font-weight: bolder;
  background-color: #0078d733;
  border: none;
}

#startstop:hover {
  background-color: blue;
  color: white;
  border: none;
}

#reset {
  width: 10%;
  padding: 0.5%;
  margin-left: 1%;
  font-weight: bolder;
  background-color: #0078d733;
  border: none;
}

#reset:hover {
  background-color: blue;
  color: white;
  border: none;
}

.footer {
  background-color: #78a41f66;
  height: 20vh;
  margin-top: 15%;
  text-align: center;
}

.footer-icon i {
  padding-top: 2%;
  margin-left: 4%;
}

.footer-copyrights {
  margin-top: 7vh;
}

@media only screen and (max-width: 768px) {
  .header-container {
    flex-flow: column;
    height: 45vh;
    justify-content: center;
  }
  .image-container img {
    width: 30%;
  }
  #startstop {
    width: 12%;
    padding: 1%;
  }
  #reset {
    width: 12%;
    padding: 1%;
  }

  #watch-display {
    font-size: 12vh;
  }
}
